/* Style the header with a grey background and some padding */
.header {
	overflow: hidden;
	background-color: #cceaff;
	padding: 20px 10px;
}

/* Style the header links */
.header-right a {
	float: left;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
}

.header-right button {
	float: left;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 25px;
	background-color: #ffeacc;
}

.home-body {
	text-align: center;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header-left a {
	font-size: 25px;
	font-weight: bold;
	float: left;
	color: black;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	line-height: 25px;
	border-radius: 4px;
}

/* Change the background color on mouse-over */
.header a:hover {
	background-color: #e7f5ff;
	/*color: rgb(0, 42, 255);*/
}

.header button:hover {
	background-color: #fef5e8;
	/*color: rgb(0, 42, 255);*/
}

/* Style the active/current link*/
.header a.active {
	background-color: dodgerblue;
	color: white;
}

/* Float the link section to the right */
.header-right {
	float: right;
}

.login-page {
	text-align: center;
}

.register-page {
	text-align: center;
}

.users-page {
	text-align: center;
}

.create-tweet-page {
	text-align: center;
}

.tweet-tile {
	background-color: #ffeacc;
}

.tweet-tile button {
	background-color: #cceaff;
	border-radius: 25px;
	padding: 6px;
}

.tweet-tile button:hover {
	background-color: #e7f5ff;
}

.create-tweet-form button {
	background-color: #cceaff;
	border-radius: 25px;
	padding: 6px;
}

.create-tweet-form button:hover {
	background-color: #e7f5ff;
}

.register-page button {
	background-color: #cceaff;
	border-radius: 25px;
	padding: 6px;
}

.register-page button:hover {
	background-color: #e7f5ff;
}

.login-page button {
	background-color: #cceaff;
	border-radius: 25px;
	padding: 6px;
}

.login-page button:hover {
	background-color: #e7f5ff;
}

.reply-list {
	border-radius: 100px;
}

.reply-tile {
	background-color: #cceaff;
	border-radius: 100px;
	padding: 10px;
	border-style: solid;
	border-width: 1px;
}

.tweet-user {
	color: black;
	text-decoration: none;
}

.reply-user {
	color: black;
	text-decoration: none;
}

.create-tweet-form {
	background-color: #ffeacc;
}

.profile-page {
	text-align: center;
}

.profile-tile {
	background-color: #cceaff;
}

.error {
	color: #ff6200;
}

.minor-header-stripe {
	background-color: #ffeacc;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
	.header a {
		float: none;
		display: block;
		text-align: left;
	}
	.header-right {
		float: none;
	}
}
